@media screen and (max-width: 1020px){
	.tuCasa, .deNuevo, .tuHogar {visibility:hidden
	}


}

@media (max-width: 992px) {
	.navbar-collapse {
	   padding-bottom: 19px;
	}
	.wave {
	   padding-top: 6rem;
	}

	footer section{
		margin-left: 10px;
		margin-right: 10px;
	}

	
 }
 
 @media (max-width: 768px) {
	.text-center-xs {
	   text-align: center;
	}
	.text-center-xs img {
	   width: 366px;
	}

	section {
		overflow: hidden;
	}

	main {	
		overflow: hidden;
	}

 }