/*----------- SHOP ----------*/

.card__button{
    border: 1.5px solid rgb(40, 40, 40);
    height: 2.5rem;
    text-align: center;
    background: none;
    color: rgb(40, 40, 40);
    margin-left: 60%;
    &:hover{
      background-color: rgb(40, 40, 40);
      color: whitesmoke;
      cursor: pointer;
    }
  }
  