@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html{
	font-size: 100%;
}

.fuente__titulos1{
  font-family: 'DM Serif Display', serif;
}

.parrafo_negrita{
  font-size: 1rem;
  font-weight: bold;
}


